option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: ${NODE_ENV}
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none
  aws:elasticbeanstalk:environment:
    ServiceRole: arn:aws:iam::077491440934:role/aws-elasticbeanstalk-service-role
    LoadBalancerIsShared: true
    LoadBalancerType: application
  aws:elbv2:loadbalancer:
    SharedLoadBalancer: arn:aws:elasticloadbalancing:us-west-2:077491440934:loadbalancer/app/shared-load-balancer/3e86f4751864404d
  aws:elbv2:listener:80:
    Rules: default
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health-check
  aws:elbv2:listenerrule:HostnameRedirect:
    Priority: '1'
    PathPatterns: ''
    Process: default
    HostHeaders: ${DOMAIN}
  aws:elbv2:listener:443:
    Rules: HostnameRedirect
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    EC2KeyName: aws-eb
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: true
    PreferredStartTime: Wed:15:00
  aws:elasticbeanstalk:managedactions:platformupdate:
    UpdateLevel: minor
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 30
  aws:elasticbeanstalk:cloudwatch:logs:health:
    HealthStreamingEnabled: true
    DeleteOnTerminate: false
    RetentionInDays: 30
  aws:elasticbeanstalk:command:
    DeploymentPolicy: ${DEPLOYMENT_POLICY}
    BatchSizeType: Percentage
    BatchSize: 30
  aws:elasticbeanstalk:healthreporting:system:
    HealthCheckSuccessThreshold: Degraded

